#selectDecisionTree
{
  position: absolute;
}
#lockButton
{
  position: absolute;
  display: none;
}
#descriptionButton
{
  position: fixed;
  bottom: 0%;
  left: 33%;
  right: 33%;
  display: none;
}
#descriptionArea
{
  position:fixed;
  top: 0%;
  left: 33%;
  right: 33%;
  z-index: 99;
  display: none;
  background-color: transparent;
  color: white;
}
#selectionArea
{
  position: absolute;
  display: none;
  background-color: transparent;
  
}
h3 
{
  color: white;
}
label 
{
  color: white;
  margin-right: 50px;
}

#chooseType
{
  z-index: 99;
  height: 100vw;
  width: 100vw
}

#example1Text
{
  display: none;
}

#example2Text
{
  display: none;
}

.thumb
{
  height: 100px;
}
